{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'dist/favicon.ico' %}" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WGStore</title>
  <link href="{% static 'dist/fonts/Roboto-Regular.woff2' %}" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="{% static "dist/css/vendor.css" %}">
  <link rel="stylesheet" href="{% static 'dist/css/main.css' %}">
  <script defer src="{% static 'dist/js/main.js' %}"></script>
</head>

<body>
    <div class="form__wrapper">
        <div class="form__logo">
            <img src="{% static 'dist/img/logo.svg' %}" alt="WGStore Logo">
        </div>
        {% if messages or form.non_field_errors %}
            <div class="alert
             {% if messages %} alert-success {% else %} alert-warning {% endif %}
             alert-dismissible fade show" role="alert"
                 style="margin-top: 50px;">
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% else %}
                    {{ form.non_field_errors }}
                {% endif %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <form action="{% url 'login' %}" method="post" class="form" id="signin-form">
            {% csrf_token %}
            <h1 class="form__title">Signin</h1>
            <div class="form-group">
                {{ form.username }}
                <label class="form-label" for="{{ form.username.id_for_label }}">Login</label>
            </div>
            <div class="form-group">
                {{ form.password }}
                <label class="form-label" for="{{ form.password.id_for_label }}">Password</label>
            </div>
            <div class="form-group btn-group">
                <button type="submit" class="btn btn-outline btn-submit">Отправить</button>
            </div>
            <a href="/register" class="form__link">У вас нет аккаунта?</a>
        </form>
    </div>
</body>
</html>
