{% if baskets %}
    <h4 class="mt-3 mb-3 d-flex justify-content-between align-items-center mb-3">
        Корзина <span class="order-quanty">{{ baskets.total_quantity }}</span>
    </h4>
    {% for basket in baskets %}
        <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ basket.product.name }}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-light">
                <div class="row text-center">
                    <div class="col-lg-4">
                        <div class="order-quanty">{{ basket.quantity }}</div>
                    </div>
                    <div class="col-lg-6">{{ basket.sum }} руб.</div>
                    <div class="col-lg-2">
                        <a href="{% url 'products:basket_remove' basket.id %}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    {% endfor %}

    <div class="card mb-3">
        <div class="card-footer">
            <p class="float-left">Итого</p>
            <h4 class="float-right">{{ baskets.total_sum }} руб.</h4>
        </div>
    </div>
    <a class="btn btn-circle" data-fancybox href="#order">
        <span class="circle1"></span>
        <span class="circle2"></span>
        <span class="circle3"></span>
        <span class="circle4"></span>
        <span class="circle5"></span>
        <span class="text">Оформить заказ</span>
    </a>

    <div id="order" class="order-popup">
        <div class="order-popup__title">Оформить заказ</div>
        <div class="order-popup__description">Введите ваши персональные данные</div>
        <form action="/" class="form order-popup__form">
            <div class="form-group">
                <input type="text" placeholder=" " name="" id="order-name" class="form-control">
                <label for="order-name" class="form-label">Ваше имя</label>
            </div>
            <div class="form-group">
                <input type="email" placeholder=" " name="" id="order-email" class="form-control">
                <label for="order-email" class="form-label">Ваш email</label>
            </div>
            <div class="form-group">
                <input type="address" placeholder=" " name="" id="order-addres" class="form-control">
                <label for="order-addres" class="form-label">Ваш адресс</label>
            </div>
            <div class="form-group" style="height: 38px; margin-bottom: 0;">
                <select class="w-100 select-none" name="order-delivery" id="order-delivery" placeholder="Выберите способ доставки">
                    <option value="Налик">Наличными при получении</option>
                    <option value="Карта">Картой</option>
                </select>
            </div>
        </form>
        <div class="order-popup__description">Состав заказа:</div>
        <ul class="order-popup__list">
            {% for basket in baskets %}
                <li class="order-popup__item">
                    <div class="product-card">
                        <div class="product-card__info">
                            <div class="product-card__name">{{ basket.product.name }}</div>
                            {% if basket.quantity > 1 %}
                                <span class="product-card__price">{{ basket.product.price }} р. * {{ basket.quantity }} шт.</span>
                            {% else %}
                                <span class="product-card__price">{{ basket.product.price }} р.</span>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="order-popup__total">Сумма заказа: {{ baskets.total_sum }} руб.</div>
        <button class="btn btn-outline w-100" type="button">Оплатить</button>
    </div>
{% else %}
    <h4 class="mt-3 mb-3 text-center">
        Корзина пуста
    </h4>
{% endif %}